/*HOME-ANIMATION-OURPRODUCT*/
#animation-ourproduct {
    padding-top: 100px;
}

.ourproduct-text {
    margin-left: 70px;
    font-size: 40px;
    font-weight: bold;
}

.photos {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
.photos img {
    position: absolute;
    width: 33.33%;
    height: 100%;
    object-fit: contain;
    transition: left 0.5s ease, transform 0.5s ease;
}
.photos img.pos1 { left: -33.33%; }
.photos img.pos2 { left: 0; }
.photos img.pos3 {
    left: 33.33%;
    transform: scale(1.3); /* Membuat gambar lebih besar */
    z-index: 1; /* Memastikan gambar ini berada di atas gambar lain */
}
.photos img.pos4 { left: 66.66%; }
.photos img.pos5 { left: 100%; }

/*HOME-ANIMATION-DESCRIPTION*/
.homepage-desc {
    background-color: black;
    height: 100vh;
    padding: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 1;
}

.sub-heading {
    font-family: 'DM Sans';
    font-size: 34px;
    margin-bottom: 20px;
    color: white;
    margin-top: 0;
    opacity: 1;
    
}
.sub-heading-1{
    animation: moveAndReturn1 2s linear 0s 1 normal backwards;
}

.sub-heading-3{
    animation: moveAndReturn3 2s linear 0s 1 normal backwards;

}
@keyframes moveAndReturn1 {
    0% {
        opacity: 1;
        transform: translateY(100px);
    }

    25% {
        opacity: 1;
        transform: translateY(100px);
    }


    75% {
        opacity: 1;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveAndReturn3 {
    0% {
        opacity: 1;
        transform: translateY(-100px);
    }

    25% {
        opacity: 1;
        transform: translateY(-100px);
    }


    75% {
        opacity: 1;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.desc {
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    color: #BCC6CC;
    margin-bottom: 20px;
    opacity: 0;
}
.desc.show {
    opacity: 1;
}

/*HOME-ANIMATION-DESCRIPTION*/


.button-ourproduct {
    background-color: white;
    border: 5px solid black;
    color: black;
    border-radius: 2px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.center-button-ourproduct {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

/*PRODUCT*/
#banner-product {
    padding-top: 50px;
}

.margin{
    margin-left: 200px; 
    margin-right: 200px;
}

.product-title{
    font-family: 'DM Sans', sans-serif;
}

/*PRODUCT-CANTEEN*/
.grid-canteen{
    border: 2px solid lightgray; /* Mengatur border */
    padding: 10px; /* Memberi ruang di dalam border */
    margin-bottom: 15px;
    border-radius: 5px; /* Membuat border menjadi bulat */
}

.image-center {
    display: flex;
    justify-content: center;
  }

series{
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

color{
    font-family: 'Comfortaa', sans-serif;
    font-size: 15px;
}

price{
    font-family: 'Comfortaa', sans-serif;
    font-size: 15px;
}


/*PRODUCT-COLLABS*/
#collabs {
    background-color: black;
    margin-left: 0px; 
    margin-right: 0px;
}

.margin-collabs{
    margin-left: 0px; 
    margin-right: 0px;
}

.grid-collabs{
    margin-bottom: 80px;
}

.grid-collabs:hover img {
    transform: scale(1.3);
}

.rounded-image{
    border-radius: 50%;
}

collab {
    font-family: /* your font family here */;
    font-size: /* your font size here */;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}


/*PRODUCT-ACCESSORIES*/
.grid-accessories{
    border: 2px solid lightgray; /* Mengatur border */
    padding: 10px; /* Memberi ruang di dalam border */
    margin-bottom: 15px;
    border-radius: 5px; /* Membuat border menjadi bulat */
    
}

accessories{
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*COLOR-INTERACTIVE*/
#color-interactive{
    margin-top: 20px;
}

.content-color {
    text-align: center;
}
.colordesc-interactive {
    font-family: Arial, sans-serif; /* Contoh font-family */
    font-size: 20px; /* Contoh font-size */
}

.image-color-interactive {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    margin-bottom: 10px; /* Jarak antar grid item */
}

.image-color-interactive:hover {
    background-color: #e0e0e0;
}

.color-interactive-active {
    background-color: #d0d0d0; /* Warna lebih tua untuk grid aktif */
}


/* Kevin CSS*/
#image-sequence {
    width: 100%;
    height: auto;
    max-width: 1500px; /* Adjust as needed */
    margin: 0 auto;
    overflow: hidden;
  }

  img.kevin {
    width: 100%;
    height: auto;
    display: none;
  }

  img.active {
    display: block;
  }