/*HOME-ANIMATION-OURPRODUCT*/
#animation-ourproduct {
    padding-top: 100px;
}

.photos {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
.photos img {
    position: absolute;
    width: 33.33%;
    height: 100%;
    object-fit: contain;
    transition: left 0.5s ease, transform 0.5s ease;
}
.photos img.pos1 { left: -33.33%; }
.photos img.pos2 { left: 0; }
.photos img.pos3 {
    left: 33.33%;
    transform: scale(1.3); /* Membuat gambar sedikit lebih besar */
    z-index: 1; /* Memastikan gambar ini berada di atas gambar lain */
}
.photos img.pos4 { left: 66.66%; }
.photos img.pos5 { left: 100%; }

/*PRODUCT*/
.margin{
    margin-left: 200px; 
    margin-right: 200px;
}

/*PRODUCT-CANTEEN*/
.grid-canteen{
    border: 2px solid lightgray; /* Mengatur border */
    padding: 10px; /* Memberi ruang di dalam border */
    margin-bottom: 15px;
    border-radius: 5px; /* Membuat border menjadi bulat */
}

.image-center {
    display: flex;
    justify-content: center;
  }

series{
    font-family:
    font-size:
}

color{
    font-family:
    font-size:
}

price{
    font-family:
    font-size:
}


/*PRODUCT-COLLABS*/
.margin-collabs{
    margin-left: 0px; 
    margin-right: 0px;
}
.grid-collabs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.rounded-image{
    border-radius: 50%;
}

/*PRODUCT-ACCESSORIES*/
.grid-accessories{
    border: 2px solid lightgray; /* Mengatur border */
    padding: 10px; /* Memberi ruang di dalam border */
    margin-bottom: 15px;
    border-radius: 5px; /* Membuat border menjadi bulat */
    
}

accessories{
    font-family:
    font-size:
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}